.portal{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.news-section{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}
.selected-news-activity{
background-color: cadetblue;
}
.selected-news-activity div{
    position: sticky;
    top: 0;
    /* margin: 10px; */
}
.activity-container{
    margin: 10px;
}